Protocol: How should I deal with variable-length array?

I am not sure how it works in real DNS actually, so I just use the fixed-length to represent it.
If any advice you can provide, please you can suggest me.

#

Just like this one, how can we construct the member `bitmap`. Now. I only know that I can figure it out in Paser, but can I build the prototype in variable length?
```
 *     WKS RDATA format:
 *
 *     +--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+
 *     |                    ADDRESS                    |
 *     +--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+
 *     |       PROTOCOL        |                       |
 *     +--+--+--+--+--+--+--+--+                       |
 *     |                                               |
 *     /                   <BIT MAP>                   /
 *     /                                               /
 *     +--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+
 * 
 * where:
 * 
 * ADDRESS         An 32 bit Internet address
 * 
 * PROTOCOL        An 8 bit IP protocol number
 * 
 * <BIT MAP>       A variable length bit map.  The bit map must be a
 *                 multiple of 8 bits long.
```

More one question, `rfc1305` has defined the limit of name, so I define the fixed limit for it. But the real system do the same one? So I can't save some space of that?
```
/**
 * 3.3.11. Name Server (NS) RR
 * 
 * An NS RR marks the beginning of a DNS zone and supplies the domain name of a name server for that zone. It is typically seen in two places - at the top of a zone, just after the SOA; and at the start of a subzone, where an NS (and often a paired A) are all that is required to perform delegation. See RFC 1035 §3.3.11 for a more detailed description of the NS RR.
 * 
 *     +--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+
 *     /                   NSDNAME                     /
 *     /                                               /
 *     +--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+--+
 * 
 * where: 
 * 
 * NSDNAME         A <domain-name> which specifies a host which should be
 *                 authoritative
 */
 typedef char NN_t[NAME_LIMIT];
```

maybe like this: 
http://www.binarytides.com/dns-query-code-in-c-with-linux-sockets/



For the background knowledge, you can watch the video tap **8-2 Domain Name System (DNS), Part 1** and **8-3 Domain Name System (DNS), Part 2** in the following list.
[Video Lecture, Computer Networks, University of Washington](http://media.pearsoncmg.com/ph/streaming/esm/tanenbaum5e_videonotes/tanenbaum_videoNotes.html)

Also, you can find a lot of helpful resources in the CMU Lecture, http://www.cs.cmu.edu/~prs/15-441-F16/syllabus.html

@gapry , What a useful suggest !

Thanks a lot. I would take the way on `DNS Query Code in C with linux sockets`. I have constructed the protocol in `include/protocol` directory.

I also have an novel idea to deal with variable-length array.

@yenWu For the variable-length array, it may be like this

Case 1: 1st dimension fixed, 2nd dimension unfixed
```
void print(int*(*a)[2],int sz2) 
{
      for (int i=0;i<2;i++) {
          for (int j=0;j<sz2;j++) printf("%d ",(*a)[i][j]);
          printf("\n");
      }
}
int main(void)
{
      int a[2][3]={1,2,3,4,5,6},b[1][3]={1,2,3};
      int c[2][2]={1,2,3,4};
      int *aa[2]={a[0],a[1]},*bb[1]={b[0]};
      int *cc[2]={c[0],c[1]};
      
      print(&aa,3); // ok
      print(&bb,3); // no
      print(&cc,2); // ok
      return 0;
}
```
Case 2:  1st dimension unfixed, 2nd dimension fixed 
```
void print(int (*a)[3],int sz1)
{
    for (int i=0;i<sz1;i++) {
        for (int j=0;j<3;j++) printf("%d ",a[i][j]);
        printf("\n");
    }
}
int main(void)
{
    int a[2][3]={1,2,3,4,5,6},b[1][3]={1,2,3};
    int c[2][2]={1,2,3,4};
    print(a,2);// ok
    print(b,1); // ok
    print(c,2); // no
    return 0;
}
```
Case 3: Both dimensions unfixed
Method A: Extra Space
```
void print(int** a,int sz1,int sz2)
{
    for (int i=0;i<sz1;i++) {
        for (int j=0;j<sz2;j++) printf("%d ",a[i][j]);
        printf("\n");
    }
}

int main(void)
{
    int a[2][3]={1,2,3,4,5,6},b[1][3]={1,2,3};
    int c[2][2]={1,2,3,4};
    int *aa[2]={a[0],a[1]},*bb[1]={b[0]};
    int *cc[2]={c[0],c[1]};
    print(aa,2,3);// ok
    print(bb,1,3);// ok
    print(cc,2,2);// ok
    return 0;
}
```
Method B: Generic pointer
```
void print(void* a,int sz1,int sz2)
{
    for (int i=0;i<sz1;i++) {
        for (int j=0;j<sz2;j++) {
            int* aij=(int*)((char*)a+i*sz2*sizeof(int)+j*sizeof(int)); // int* aij=(int*)a+i*sz2+j;
            printf("%d ",*aij);
        }
        printf("\n");
    }
}
int main(void)
{
    int a[2][3]={1,2,3,4,5,6},b[1][3]={1,2,3};
    int c[2][2]={1,2,3,4};
    print(a,2,3); // ok; or, print(&a,2,3);
    print(b,1,3);// ok
    print(c,2,2);// ok
    return 0;
}
```






@yenWu The following figure is the key idea.

![c_array](https://cloud.githubusercontent.com/assets/4116872/21740856/2189d2dc-d501-11e6-85d2-e9be19670bcf.png)


@gapry , Such a warmhearted guy!
I have already read it. If the way I used fail, I would  take yours.

I would use the gcc extension `zero-array` to represent variable array. That's used to locate the address of the head of variable array.
```
 #define offsetof(type, member) ((size_t)&((type *) 0)->member)

typedef struct _test {
    int     num;
    int**   arr;
    char    data[0];
}test;

test* t = (test *) malloc(sizeof(test) + 10);

t->data[0] = 'h';
printf("check the data[0] = %c", t->data[0]);
```

By the way, Can we make a friend in Facebook ? I think that you get this issue from the NCKU sys2016 club.

@yenWu  Thank for your sharing and invitation